In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
str_conn='mysql+pymysql://root:****@localhost:3306/sentences'

cursor=create_engine(str_conn)

In [7]:
datos=pd.read_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana4\frases_v6.csv') #Tabla Frases
datos

,Frase,Autor,Cat1,Cat2,Cat3,Cat4
0,Un amigo es uno que lo sabe todo de ti y a pes...,Elbert Hubbard (1856-1915) Ensayista estadouni...,SENTIMIENTOS,AMISTAD,NaN,NaN
1,"Si sientes que todo perdió su sentido, siempre...",Emerson (1803-1882) Poeta y pensador estadouni...,SENTIMIENTOS,AMISTAD,AMIGOS,NaN
2,La amistad es más difícil y más rara que el am...,Alberto Moravia (1907-1990) Alberto Pincherle....,SENTIMIENTOS,AMISTAD,NaN,NaN
3,Ama hasta que te duela. Si te duele es buena s...,Madre Teresa de Calcuta (1910-1997) Misionera ...,SENTIMIENTOS,AMOR,AMAR,NaN
4,"Un hermano puede no ser un amigo, pero un amig...","Demetrio de Falero (350 AC-280 AC) Orador, fil...",SENTIMIENTOS,AMISTAD,NaN,NaN
...,...,...,...,...,...,...
10107,Poder olvidar significa cordura.,Jack London (1876-1916) Escritor y activista a...,PENSAMIENTO Y RAZÓN,OPINIÓN,NaN,NaN
10108,No holgazanees y invita a la inspiración; sal ...,Jack London (1876-1916) Escritor y activista a...,SENTIMIENTOS,FELICIDAD,NaN,NaN
10109,Los dioses tramaron desventuras para que los h...,Homero (VIII AC-VIII AC) Poeta y rapsoda griego.,SENTIMIENTOS,FELICIDAD,NaN,NaN
10110,"Dije ""je t’aime"", en lo de amar sobran los adv...",Rafael Chirbes (1949-2015) Escritor y crítico ...,NATURALEZA,VIDA,NaN,NaN
10111,No hay autoridad moral como la del sacrificio.,Nadine Gordimer (1923-2014) Escritora sudafric...,PENSAMIENTO Y RAZÓN,VERDAD,NaN,NaN

In [8]:
datos.to_sql(name='sentences', con=cursor, if_exists='replace', index=False) #Tabla Frases

In [8]:
datos2 = pd.read_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana4\Deep_SentencesETL\Data\autores_v2.csv')
datos2 # Tabla Autores

,Autor,Nombre,Link
0,Refrán,Refrán,https://es.wikipedia.org/wiki/Refr%C3%A1n
1,Oscar Wilde (1854-1900) Dramaturgo y novelista...,Oscar Wilde,https://es.wikipedia.org/wiki/Oscar_Wilde
2,Aristóteles (384 AC-322 AC) Filósofo griego.,Aristóteles,https://es.wikipedia.org/wiki/Arist%C3%B3teles
3,Séneca (2 AC-65) Filósofo latino.,Séneca,https://es.wikipedia.org/wiki/S%C3%A9neca
4,William Shakespeare (1564-1616) Escritor britá...,William Shakespeare,https://es.wikipedia.org/wiki/William_Shakespeare
...,...,...,...
860,"Nicanor Parra (1914-?) Poeta, matemático y fís...",Nicanor Parra,https://es.wikipedia.org/wiki/Nicanor_Parra
861,Álvaro Mutis (1923-2013) Novelista y poeta col...,Álvaro Mutis,https://es.wikipedia.org/wiki/%C3%81lvaro_Mutis
862,Charlotte Brontë (1816-1855) Novelista inglesa.,Charlotte Brontë,https://es.wikipedia.org/wiki/Charlotte_Bront%...
863,"Horacio Quiroga (1878-1937) Cuentista, dramatu...",Horacio Quiroga,https://es.wikipedia.org/wiki/Horacio_Quiroga
864,Antonio Tabucchi (1943-2012) Escritor italiano.,Antonio Tabucchi,https://es.wikipedia.org/wiki/Antonio_Tabucchi

In [9]:
datos2.to_sql(name='autores', con=cursor, if_exists='replace', index=False) #Tabla Autores